<h1><center>Boolean Data Types</center></h1>

![Bool](images/bool.png)

## Agenda

- Define what a Boolean Data Type is and how they are used
- Use boolean expressions to FILTER data (advanced filtering later)

## Variables that are Boolean Data Types

- Variables with **2 levels** are sometimes stored as binary variables (having a 0 and a 1)
- Very common when using comparison operators in filtering your data (i.e. **and**, **or**, **==**, **!=**, **>**, etc) 
- Common in conditional statements (if/else)

### Example of using boolean comparison operators

In [1]:
#Let's check if two values are equal or not 

a = 5
b = 3

print(a == b)

False

### Booleans used for filtering data

In [2]:
#Let's look at the power of this with data 

import pandas as pd 

df = pd.read_csv('data/students.csv')
df.head()

,ID,class,gender,race,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis,from1,from2,from3,from4,y
0,1141,A,male,1,73.47,64,81,87,60,74,71,60,A,A,A,3,0
1,1142,A,female,1,71.22,57,50,51,51,55,62,61,B,A,A,2,0
2,1143,A,female,2,74.56,47,48,71,60,61,68,64,C,A,A,0,1
3,1144,A,female,1,72.89,46,72,38,60,29,54,51,D,A,A,0,0
4,1145,A,female,1,70.11,49,45,63,60,66,66,61,E,A,A,0,0

In [4]:
#Now filter for only Class B
# Filters based on setting each row to 'True' or 'False'

classb = df[df['class'] == 'B']
classb.head()

,ID,class,gender,race,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis,from1,from2,from3,from4,y
8,1149,B,female,5,77.92,61,60,66,68,80,78,71,I,B,A,0,0
11,1152,B,female,1,83.65,73,75,76,71,85,74,89,J,B,A,2,0
12,1153,B,female,1,77.00,70,60,71,71,87,68,61,K,B,D,0,0
15,1156,B,female,6,82.07,72,63,70,76,81,86,73,E,B,A,0,2
18,1159,B,male,1,75.64,60,68,54,76,76,76,64,N,B,A,0,0

In [2]:
#Now filter for race equals 6 

race6 = None

'ID'

## Summary 

- Boolean Variable Types execute as 'True' or 'False'
- Used to compare variables 
- Used to filter data

<h1><center>The End</center></h1>
<h2><center>@LearningwithJelly</center></h2>

In [6]:
from traitlets.config.manager import BaseJSONConfigManager
from pathlib import Path
path = Path.home() / ".jupyter" / "nbconfig"
cm = BaseJSONConfigManager(config_dir=str(path))
cm.update(
    "rise",
    {
        "theme": "white",
        "transition": "fade",
        "start_slideshow_at": "selected",
        "footer": "  <h6>Learning with Jelly</h6>",
        "header": "  <h3>Boolean Data Types</h3>",
        "width":  "90%",
        "height": "110%",
        "enable_chalkboard": True
     }
)

{'theme': 'white',
 'transition': 'fade',
 'start_slideshow_at': 'selected',
 'autolaunch': False,
 'width': '90%',
 'height': '110%',
 'header': '  <h3>Boolean Data Types</h3>',
 'footer': '  <h6>Learning with Jelly</h6>',
 'scroll': True,
 'enable_chalkboard': True,
 'slideNumber': True,
 'center': False,
 'controlsLayout': 'edges',
 'hash': True}